* {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header {
    height: 15%;
    width: 100%;
}

.top-header {
    height: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F4BD21;
}

.left-top-header {
    height: 100%;
    width: 65%;
    background-color: #F4BD21;
}

.on-left-top-header {
    height: 7px;
    width: 100%;
    background-color: #F4BD21;
}

.under-lefttop-header {
    height: 27px;
    width: 100%;
    background-color: #DF1836;
}

.top-header img {
    height: 34px;
    width: fit-content;
}

.right-top-header {
    background-color: #F4BD21;
    display: flex;
    flex-direction: row;
}

.language,
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 5px;
}

.VN {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid #DF1836;
}

.flag img,
.place-login img,
.material-symbols-outlined {
    height: 24px;
    width: 24px;
    margin: 0px 5px;
}



.EN {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.EN a {
    color: black;
    text-decoration: none;
}

.EN a:hover {
    text-decoration: underline;
}

.find-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    cursor: pointer;
}

.place-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.place-login a {
    text-decoration: none;
    color: black;
}

.place-login a:hover {
    text-decoration: underline;
}

.bottom-header {
    height: 83px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DF1836;
}

.left-bottom-header img {
    height: 83px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-bottom-header {
    height: 83px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

.middle-bottom-header {
    font-size: x-large;
    height: 83px;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 6vh;
}

.box-text-middle-bottom-header {
    padding: 10px;
    color: white;
}

.box-text-middle-bottom-header:hover {
    padding: 10px;
    color: #DF1836;
    border-radius: 8px;
    background-color: #F4D2D6;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main-box-text-middle-bottom-header {
    padding: 10px;
    color: #DF1836;
    border-radius: 8px;
    background-color: #F4D2D6;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right-bottom-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-right: 50px;
}

.right-bottom-header img {
    height: 35px;
    width: fit-content;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border-radius: 16px;
    background-color: #F4BD21;
    padding: 0px 10px;
    margin: 0px 30px;
}

.background-main {
    height: 100%;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu-bar {
    height: 147px;
    width: 66%;
    display: flex;
    flex-direction: row;
    background-color: #F4D2D6;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom: 3%;
}

.chose-main-menu img {
    height: 72px;
    width: 120px;
    margin-bottom: 10px;
    display: flex;
}

.chose-main-menu img:hover {
    height: 72px;
    width: 120px;
    margin-bottom: 10px;
    display: flex;
    transform: scale(1.5);
    transition: 1s;
}

.chose-main-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px;
}



.chose-main-menu span {
    font-size: 13px;
    color: black;
}

.chose-main-menu span:hover {
    font-size: 13px;
    color: #DF1836;
}

.chose-main-menu .main {
    font-size: 13px;
    color: #DF1836;
}

.menu-bar {
    display: flex;
    flex-direction: row;
}

.menu img {
    height: 268px;
    width: 268px;
}

.menu1 img {
    height: 268px;
    width: 268px;
}

.menu2 img {
    height: 268px;
    width: 268px;
}

.menu3 img {
    height: 268px;
    width: 268px;
}

.menu4 img {
    height: 268px;
    width: 268px;
}

.menu {
    height: 515px;
    width: 334px;
    display: flex;
    flex-direction: column;
    border-left: 2px dashed#F4BD21;
    border-right: 2px dashed#F4BD21;
    align-items: center;
}

.menu4 {
    height: 515px;
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu1 {
    height: 515px;
    width: 334px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed#F4BD21;
    align-items: center;
}

.menu2 {
    height: 515px;
    width: 334px;
    display: flex;
    flex-direction: column;
    border-left: 2px dashed#F4BD21;
    border-right: 2px dashed#F4BD21;
    border-bottom: 2px dashed#F4BD21;
    align-items: center;
}

.menu3 {
    height: 515px;
    width: 334px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed#F4BD21;
    align-items: center;
}

.footer {
    color: white;
    height: 25%;
    width: 100%;
    background-color: #DF1836;
    display: flex;
    flex-direction: column;
    padding: 43px 0px 35px 0px;
}

.footer a {
    color: white;
    text-decoration: none;
}


.logo-left-footer img {
    height: 83px;
    width: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 50px 20px 0px;
}

.top-footer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.top-left-footer {
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
}

.company-left-footer {
    font-size: 15px;
    height: 100%;
    width: 400px;
    margin-bottom: 15px;
}

.company-left-footer a:hover {
    text-decoration: underline;

}

.top-middle-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    align-items: center;
}

.top-middle-footer img {
    height: 100%;
    width: 300px;
    padding-bottom: 15px;
}

.list a {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

}

.list a:hover {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;

}

.top-right-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;

}

.top-right-footer span{
    margin-bottom: 20px;
    font-size: 25px;
}

.facebook-top-right-footer img{
    height: 34px;
    width: 34px;
    margin: 10px;
}

.facebook-top-right-footer a{
    font-size: 20px;
    text-decoration: none;
}

.facebook-top-right-footer a:hover{
    text-decoration: underline;
}

.facebook-top-right-footer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.app img{
    cursor: pointer;
     height: 41px;
    width: 140px;
    
}

.notice{
    cursor: pointer;
    height: 76px;
    width: 200px;
   
}

.line{
     margin: 20px 0px;
    border: 2px solid #333333;
}

.bottom-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 17px 10px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: #333333;
}

.price {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    color: #CE2026;
}

.buy-button {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 164px;
    border-radius: 16px;
    background-color: #DF1836;
    padding: 5px 15px;
    margin-top: 20px;
    cursor: pointer;
}

.buy-button:hover {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 164px;
    border-radius: 16px;
    background-color: #DF1836;
    padding: 5px 15px;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px #DF1836)
}

.buy-product {
    display: flex;
    align-items: center;
}

.background-main {
    flex: 1;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 220px);
}

.chose-main-menu {
    overflow: hidden;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}